/* in new-age.min.css wijzig je NIETS */
/* schrijf in dit bestand je eigen stijlregels om opmaak aan te passen */

header.masthead2 {
    position: relative;
    width: 100%;
    padding-top: 150px;
    padding-bottom: 100px;
    color: #000000
}
.container{
    font-family: Arial, sans-serif;
}

.bg-danger{
    color: #ffffff;
}